<div id='shop-details'>
	<img src='#' class='user-img img-circle'>
	<p><%= shop.get('name') || "" %></p>
</div>
<div id='shop-items'>
	<% shop.listings().each(function(listing) { %>
		<img src='<%= listing.get('url') %>'>
	<% }) %>
</div>