<div id='shop-panel' class='panel panel-default'>
	<div class='panel-heading'>
		<img>
		<h3 class='panel-title'> Shop Name </h3>
		<h3> Shop Location </h3>
	</div>

	<div class='panel-body'>
		<% shop.listings().each(function(listing) {  %>
			<div class='listing-item-img-wrapper'>
				<img src='<%= listing.get('url') %>'>
			</div>
		<% }) %>
	</div>
</div>