<!DOCTYPE html>
<html>
<head>
</head>
<body>
	
	<section id='welcoming-display'>
		<div class='margins'>
			<p id='right-text'> One man's treasure is another man's treasure. Buy luxury from around the world. <p>
		</div>
	</section>
	<section id='recent-favorites' class='margins'>
		<h3 class='center'>Recent Favorites</h3>
		<h4 class='center' id='catch-phrase'>Discover the marketplace. Live opulently.</h4>
		<div class='row'>
			<div class='col-sm-6 col-md-4 favorite-item'>
				<div class='tumbnail'>
				</div>
				<div class='caption center'>
					<h3>Label</h3>
					<p> stuff in here is in a paragraph tag for later! </p>
					<p><a href="#" class='btn btn-primary'>Button!</a></p>
				</div>
			</div>
		</div>
	</section>
	
</body>
</html>