<!DOCTYPE html>
<html>
<head>
</head>
<body>
	
	<section id='welcoming-display'>
		<div class='margins'>
			<p id='right-text'> One man's treasure is another man's treasure. Buy luxury from around the world. <p>
		</div>
	</section>
	<section id='recent-favorites' class='margins'>
		<h3 class='center'>Recent Favorites</h3>
		<h4 class='center' id='catch-phrase'>Discover the marketplace. Live opulently.</h4>
		<div class='row'>
			<!-- <div class='col-sm-6 col-md-4 favorite-item panel panel-default'>
				<div class='tumbnail center'>
					<img class='img-rounded' id='ocelot'>
				</div>
				<div class='caption center panel-body'>
					<h3>Sir Meows-a-lot</h3>
					<p> Adopt this Ocelot before it's too late! Ocelots are in high demand for their pelts which make the most comfortable pillows. </p>
					<p><a href="#" class='btn btn-primary'>Adopt!</a></p>
				</div>
				<div class='panel-footer'>
					<div class='selling-image'>
						<img>
					</div>
					<div class='bio-rating'>
						<div class='bio'>
							<p>From <strong>Trappers LLC</strong></p>
							<p>in <strong>San Fransisco, California</strong></p>
						</div>
						<div class='rating'>
							<p>*****</p>
						</div>
					</div>
				</div>
			</div> -->
			<div class='panel panel-default favorite-item'>
				
				<div class='panel-heading favorite-item-img center'>
				</div>
				
				<div class='panel-body product-link'>
					<a href="#"> Here's some text for product name...<a>
					<div class='product-money'>
						<a href="#" class=' product-price no-underline'> $50K </a>
						<a href="#" class='product-currency no-underline'> USD </a>
					</div>
				</div>
				
				<div class='panel-body'>
					<div class='row'>
						<div class='col-md-10 col-md-offset-1'>
							<div class='col-md-4 other-seller-product'>
							</div>
							<div class='col-md-4 other-seller-product'>
							</div>
							<div class='col-md-4 other-seller-product'>
							</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</section>
	
</body>
</html>