<!DOCTYPE html>
<html>
<head>
</head>
<body>
	
	<section id='user-product-display' class='margins'>
		<p> Check out these user products </p>
	</section>
	<section id='recent-favorites' class='margins'>
		<h3>Recent Favorites</h3>
		<h4>Discover finds from around the marketplace.</h4>
	</section>
	
</body>
</html>