<!DOCTYPE html>
<html>
<head>
</head>
<body>
	
	<section id='welcoming-display'>
		<div class='margins'>
			<p id='right-text'> One man's treasure is another man's treasure. Buy luxury from around the world. <p>
		</div>
	</section>
	<section id='recent-favorites' class='margins'>
		<h3 class='center'>Recent Favorites</h3>
		<h4>Discover finds from around the marketplace.</h4>
	</section>
	
</body>
</html>