<div class='panel panel-default favorite-item'>
						
	<div class='panel-heading'>
		<img class="favorite-item-img">
	</div>
				
	<div class='panel-body product-link'>
		<a href="#"> Here's some text for product name...</a>
		<div class='product-money'>
			<a href="#" class='product-price no-underline'> $50K </a>
			<a href="#" class='product-currency no-underline'> USD </a>
		</div>
	</div>
				
	<div class='panel-body'>
		<div class='row'>
			<div class='col-md-4'>
				<div class='other-seller-product'>
				</div>
			</div>
			<div class='col-md-4'>
				<div class='other-seller-product'>
				</div>
			</div>
			<div class='col-md-4'>
				<div class='other-seller-product'>
				</div>
			</div>
		</div>
	</div>
							
	<div class='panel-footer'>
		<div class='row'>
			<div class='col-md-4'>
				<div class='seller-image'>
					<img class='img-circle'>
				</div>
			</div>
			<div class='col-md-8'>
				<div class='seller-bio'>
					<div class='seller-location'>
						<p> San Fransisco, California </p>
					</div>
					<div class='seller-rating'>
						<p>***** 48 reviews</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>