<section id='welcoming-display'>
	<div class='margins'>
		<p id='right-text'> Mew! </p>
	</div>
</section>
<section id='recent-favorites' class='margins'>
	<h3 class='center'>Recent Favorites</h3>
	<h4 class='center' id='catch-phrase'>Discover the marketplace. Live opulently.</h4>
	
	<div class='row' id='featured-shops'>
	</div>
</section>