<section id='welcoming-display'>
	<div class='margins'>
		<p id='right-text'> Mew! </p>
	</div>
</section>
<section id='recent-favorites' class='margins'>
	<h3 class='center'>Recent Favorites</h3>
	<h4 class='center' id='catch-phrase'>Discover the marketplace</h4>
	
	<div class='row' id='featured-shops'>
	</div>
	
</section>

<section class='white'>
	<img id='second-cat-img' src="https://s3-us-west-1.amazonaws.com/spendyoursavingsimages/lookupcat2optimized.png">
	<div id='personal-statement' class='margins'>
		<img src='https://s3-us-west-1.amazonaws.com/spendyoursavingsimages/crazycatlady2.jpg'
			class='img-circle user-img'
			id='personal-user'
		>
		<h2> "At first I was worried because I never got any matches on E-Harmony, but my life changed after adopting Whiskers"</h2>
		<h3> Meet Crazy Cat Lady in <a>San Francisco, California</a> </h3>
	</div>
</section>

<!-- <section id='secure-happy'>
	<div class='margins'>
		<div class='row'>
			<div class='col-lg-4 col-lg-offset-2'>
				<div class='home-img'>
					<img src='https://s3-us-west-1.amazonaws.com/spendyoursavingsimages/kittensbox.png' id='box-of-kittens'>
				</div>
			</div>

			<div class='col-lg-4'>
				<div class='home-img'>
					<img src='https://s3-us-west-1.amazonaws.com/spendyoursavingsimages/vault.png' id='box-of-kittens'>
				</div>
			</div>
		</div>
	</div>
</section> -->