/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui
 *= require component
 */
@import "bootstrap-sprockets";
@import "bootstrap";
/*				Page CSS				*/
.clearfix:after { content: "\00A0"; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
.clearfix{ display: inline-block;}
html[xmlns] .clearfix { display: block;}
* html .clearfix{ height: 1%;}
.clearfix {display: block}

html, body {
  height: 100%;
}

#main-content {
  min-height: 100%;
   /* equal to footer height */
  margin-bottom: -200px; 
}

#main-content:after {
  content: "";
  display: block;
  height: 200px; 	
}

*{
	margin: 0;
	padding: 0;
}

.margins {
	margin-left: 130px;
	margin-right: 130px;
}

.center {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.bold {
	font-weight: bold;
}

.underline {
	text-decoration: underline;
}

body {
	background: #efefeb;
}

.user-img {
	height: 75px;
	width: 75px;
}

.product-currency {
	font-size: 11px;
	color: green;
}
.product-price {
	color: green;
}

.white {
	background: white;
}
.red {
	color: red;
}

/*				Auth Modal				*/

#auth-modal .modal-dialog {
	width: 500px;
}

.blur{
    -webkit-filter: blur(7px);
    -moz-filter: blur(15px);
    -o-filter: blur(15px);
    -ms-filter: blur(15px);
    filter: blur(15px);
}


.auth-error {
	color: #a94442;
	font-size: 12px;
	width: 100%;
	text-align: center;
	margin-top: -10px;
	span {
		display: none;
		padding-right: 10px;
	}
}

.modal-body ul {
	padding-left: 15px;
}

/*				Footer				*/
footer {
	height: 200px;
	background: #003056;
	color: white;
//	position: absolute;
//	bottom: 0;
//	width: 100%;
}
.footer-title {
	text-decoration: underline;
}
footer li {
	list-style: none;
	padding-bottom: 10px;
}
footer li a {
	color: #47D9BF;
}

