/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
/*				Page CSS				*/
*{
	margin: 0;
	padding: 0;
}

.margins {
	margin-left: 130px;
	margin-right: 130px;
}

.center {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

body {
	background: #efefeb;
}

/*				Header / Nav				*/

header {
	min-height: 70px;
	background: white;
}
nav {
	display: block;
	position: relative;
	top: 10px;
	padding-right: 10px;
}
.navbar-form {
	/*border: 1px solid #003056;*/
}
#search::-webkit-input-placeholder {
/*   color: #47D9BF;*/
}
#search {
	color: #00A1D9;
	width: 250px;
}
.navbar-brand {
	background: #F2D03B;
}
#browse { /*Browse Drop Down*/
	height: 34px;
	margin-top: 8px;
	border-radius: 3px;
	border: 1px solid black;
	background: none;
	padding: 0 5px;
}
.navbar-right {
	height: 50px;
}
.navbar-right button {
	height: 34px;
	margin-top: 8px;
	margin-left: 10px;
	background: none;
	padding: 0 10px;
//	border-radius: 3px;
//	border: 1px solid black;
	border: none;
}

#sign-in {
	border-radius: 3px;
	border: 1px solid black;
}

/*				Footer				*/
footer {
	height: 200px;
	background: #47D9BF;
}

/*				Home Page			*/
#welcoming-display {
	min-height: 500px;
	background-image: image-url("island-optimized.jpg");	
	background-size: 100%;
	background-width: 100%;
	margin-top: -9px;
}
#right-text {
	float: right;
	color: white;
	font-weight: bold;
	font-size: 30px;
	max-width: 400px;
	padding-top: 50px;
}
#recent-favorites {
	height: 600px;
	color: #303030;
}
#catch-phrase {
	color: #707070;
}
//.favorite-item {
////	min-height: 485px;
//	height: 100%;
//	width: 340px;
//	border: 1px solid black;
//	border-radius: 4px;
//}
//img#ocelot {
//	background-image: image-url("ocelot.jpeg");
//	background-repeat: no-repeat;
//	background-size: 100%;
//	margin-top: 5px;
//	width: 100%;
//	height: 253px;
//}
.favorite-item {
	width: 340px;
	height: 500px;
	background: white;
}
.favorite-item-img {
	width: 330px;
	height: 250px;
	background: black;
	margin-top: 5px;
}
.product-link {
//	display: inline-block;
}
.product-money {
	float: right;
	color: green;
}
.product-price {
}
.product-currency {
	font-size: 11px;
}
.other-seller-product {
//	width: 90px;
	height: 85px;
	background: black;
	border: 1px solid white;
}
