/*					Carousel						*/

.carousel {
	width: 570px;
	min-height: 390px;
	max-height: 390px;
//	border: 1px solid black;
}
.slide {
	background-opacity: 0;
}
.carousel .carousel-control.right, .carousel .carousel-control.left {
	background-image: none;
}