.cart-show {
	margin-top: 30px;
}
.cart-listing-wrapper {
	display: inline-block;
}
.cart-img {
	border-radius: 4px;
  display: block;
  max-width:130px;
  max-height:95px;
  width: auto;
  height: auto;
	margin: 0 auto;
}
.cart-img-box {
	width: 150px;
	float: left;
//	padding-right: 20px;
	border-right: 1px solid #999999;
}

.panel .panel-title a {
	color: #F2D03B;
}

.order-info {
	float: left;
	padding-left: 30px;
}

.panel {
	.close-button {
		margin-top: -20px;
	}
	.panel-footer {
		background: white;
	}
}

.remove-listing {
	float: left;
}

.panel .remove-listing-button {
	margin-top: 10px;
	margin-left: 8px;
}

.cart-payment-wrapper {
	padding-top: 10px;
}

.cart-items {
	border-right: 2px solid #CCC;
}

.seller-notes {
	height: 100px;
	width: 500px;
	resize: none;
	border-radius: 3px;
	border: 1px solid #CCC;
}

.shop-ship-date {
	font-size: 12px;
	color: #333;
}