.listing-item-img-wrapper {
	border: 1px solid gray;
	border-radius: 5px;
	margin: 10px 0;
	width: 131px;
	img {
		width: 130px;
		height: 100px;
		padding: 3px;
		border-radius: 6px;
	}
	p {
		margin: 0px;
		padding: 0px;
	}
}
.sidebar-item-text {
	position: relative;
	left: 6px;
}