/*					Listing Show Page						*/

#shop-content {
//	background: gray;
//	display: inline-block;
}

#left-content {
	max-width: 60%;
	margin-left: 20px;
	float: left;
}
#right-content {
	float:right ;
	margin-right: 20px;
}
.listing-details {
	width: 200px;
}
#right-content {
	width: 35%;
}

#overview {
	list-style: none;
}