.shop-item-wrapper {
	display: inline-block;
	border: 1px solid gray;
	border-radius: 5px;
	margin: 20px 20px 10px 10px;
	width: 262px;
	img {
		width: 260px;
		height: 200px;
		padding: 6px;
		border-radius: 6px;
	}
	a.shop-item-name {
		color: #666666;
	}
}
.shop-item-text {
	padding: 5px;
	text-align: left;
}