#shop-header {
	margin-top: 20px;
}
#shop-banner {
	text-align: center;
}
.shop-item-wrapper {
	display: inline-block;
	background: white;
	border: 1px solid gray;
	border-radius: 5px;
	margin: 20px 20px 10px 10px;
	width: 197px;
	img {
		width: 195px;
		height: 150px;
		padding: 6px;
		border-radius: 6px;
	}
	a.shop-item-name {
		color: #666666;
	}
}
.shop-item-text {
	padding: 5px;
	text-align: left;
	.product-price, .product-currency {
		text-align: right;
	}
}

#shop-search-box {
	background: #f9f9f8;
	border-color: #003056;
}
#shop-search-button {
	height: 34px;
	background: #00A1D9;
	color: white;
	border-color: #003056;
}