<!DOCTYPE html>
<html>
<head>
	<title>SpendYourSavings</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>

</head>
	
<body>
	<header>
		<nav class="nav margins">
			<ul class='nav navbar-nav'>
				<li class='left-nav-list-item navbar-brand'> Logo </li>
				<li class='left-nav-list-item'>
					<form class='navbar-form navbar-left' role='search'>
						<div class='form-group'>
							<input type='text' id='search' class='form-control' name='search[text]' placeholder='Search for all the things!'>
						</div>
						<button type='submit' class='btn btn-default'>Search</button>
					</form>
				</li>
				<li class='dropdown'>
					<button href="#" class='dropdown-toggle' id='browse' data-toggle="dropdown" aria-expanded='false' type='button'>
						Browse
						<span class='caret'></span>
					</button>
					<ul class='dropdown-menu'>
						<li><a href='#'>Holidays</a></li>
						<li><a href='#'>Gift Ideas</a></li>
						<li class="divider"></li>
						<li><a href='#'>Yachts</a></li>
						<li><a href='#'>Cars</a></li>
						<li><a href='#'>Homes</a></li>
						<li><a href='#'>Really Really Expensive Things</a></li>
					</ul>
				</li>
			</ul>
			<ul class='nav navbar-nav navbar-right'>
				<li><button class="btn">Register</button></li>
				<li><button id='sign-in' class="btn">Sign In</button></li>
				<li><button class="btn"><span class="glyphicons shopping_bag"></span>Cart</button></li>
			</ul>
		</nav>
	</header>

	<%= yield %>
	
	<footer>
		<div class='margins'>
			<div class='row'>
				
				<div class='col-md-3'>
					<h5 class='footer-title'> Turn your passion into a business</h5>
					<ul>
						<li><button class='btn'>Open a shop</button></li>
						<li><a href="#">Seller Handbook</a></li>
					</ul>
				</div>
				
				<div class='col-md-3'>
					<h5 class='footer-title'>Join the community</h5>
					<ul>
						<li><a href="#">Teams</a></li>
						<li><a href="#">Upcoming Events</a></li>
					</ul>
				</div>
				
				<div class='col-md-3'>
					<h5 class='footer-title'>Resources</h5>
					<ul>
						<li><a href="#">Discover and shop</a></li>
						<li><a href="#">Blog</a></li>
					</ul>
				</div>
				
				<div class='col-md-3'>
					<h5 class='footer-title'>Get to know us</h5>
					<ul>
						<li><a href="#">About</a></li>
						<li><a href="#">Careers</a></li>
					</ul>
				</div>
				
			</div>
		</div>
	</footer>

</body>
</html>
